body{
    margin: 0;
    padding: 0;
    background-color:  #000000;
}

div.BK{
    color: rgb(250, 246, 246);
    text-align: left;
    font-size: 30px;
    
}
div.LR {
 color: #fff;
 text-align: right;
 font-size: 20px;
 padding: 10px;
 
 border-style: solid;
 border-radius: 5px;
 border-color: rgb(18, 13, 46);
}

div.LR ul li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
div.LR ul li a{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
color: #fff;      
font-size: 20px;
text-decoration: none;
}

div.Barr{
    text-align: center;
    padding: 12px;
    background-color:#10141A;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}
div.Barr ul li{
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 16px;
}

div.Barr ul li a{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: #fff;
 font-size: 20px;
 text-decoration: none;
}

div.Op{
    text-align: left;
    padding: 5px;
    background-color:rgb(18, 13, 46); 
    border-color: rgb(18, 13, 46);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}

div.Op ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 16px; 
}
div.Op ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}
